@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

img {
    width: 70%;
    display: block;
}

.project-desc img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    flex-direction: row;
}

nav ul li {
    padding-left: 1rem;

}

.navbar {
    padding-top: 1rem;
    width: 100%;
}

hr {
    margin-top: 0;
}

form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sel1 {
    width: 40%;
}

.restaurant-card {
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
}

.restaurant-card img {
    width: 100%;
}

.restaurant-info {
    margin-top: 1rem;
}

.choice-buttons {
    text-align: center;
    padding: 2rem;
}

footer {
    padding-top: 2rem;
}

header {
    text-align: center;
    margin: 1.5rem 0rem;
    animation-duration: 1.5s;
    animation-name: slideup;
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translate(0rem, 1.5rem);

    }

    to {
        opacity: 1;
        transform: translate(0rem, 0rem);
    }
}

.inactive {
    color: #343A41;
}

a.inactive:hover {
    color: #343A41;
}

.active {
    color: #00458F
}

a.active:hover {
    color: #00458F
}

.navbar-brand:hover {
    transform: scale(1.3);
    transition: all ease 500ms;
}

nav li {
    margin-bottom: 10px;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
}

.active.underline::after {
    background: #00458F;
}

.inactive.underline::after {
    background: #383736;
}

.underline:hover::after {
    width: 100%;
}

#range {
    width: 100%;
}

.project-desc p {
    margin-bottom: 0px;
}

.project-desc {
    text-align: center;
}

.project-desc ul {
    list-style-position: inside;
}

.start-btn {
    margin-top: 1.5rem;
}

#mission {
    margin-bottom: 1rem;
}

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(15, 15, 15, 0.4);
}

a.link-btn:hover {
    color: white;
}

a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}

.btn-primary {
    color: #00458F;
    border: 2px #00458F solid;
}

.btn-secondary {
    color: #6C757D;
    border: 2px #6C757D solid;
}

.btn-dark {
    color: #383736;
    border: 2px #383736 solid;
}

.btn {
    position: relative;
    border-radius: 4px;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    -webkit-transition: 0.08s ease-in;
}

.btn:hover {
    color: whitesmoke;
    background: none;
}

.btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.btn-dark:before {
    background: #383736;
}

.btn-primary:before {
    background: #00458F;
}

.btn-secondary:before {
    background: #6C757D;
}

.btn:hover:before {
    top: 0;
}

@media (min-width:992px) {
    .restaurant-card img {
        width: 60%;
    }

    .restaurant-info {
        margin-top: 0;
        margin-left: 1rem;
    }

    .restaurant-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .project-desc {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    .project-desc ul {
        list-style-position: outside;
    }

    .start-btn {
        margin-top: 0rem;
    }
}