@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

img {
    width: 70%;
    display: block;
}

.project-desc img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    flex-direction: row;
}

nav ul li {
    padding-left: 1rem;

}

.navbar {
    padding-top: 1rem;
    width: 100%;
}

hr {
    margin-top: 0;
}

button a {
    color: white;
}

form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sel1 {
    width: 40%;
}

.restaurant-card {
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
}

.restaurant-card img {
    width: 100%;
}

.restaurant-info {
    margin-top: 1rem;
}

.choice-buttons {
    text-align: center;
    padding: 2rem;
}

footer {
    padding-top: 2rem;
}

header {
    text-align: center;
    margin: 1.5rem 0rem;
    animation-duration: 1.5s;
    animation-name: slideup;
}

.active {
    text-decoration: underline
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translate(0rem, 1.5rem);

    }

    to {
        opacity: 1;
        transform: translate(0rem, 0rem);
    }
}

nav li:hover {
    transform: scale(1.1);
    transition: all ease 500ms;
}

#range {
    width: 100%;
}

.project-desc p {
    margin-bottom: 0px;
}

.project-desc {
    text-align: center;
}

.project-desc ul {
    list-style-position: inside;
}

.start-btn {
    margin-top: 1.5rem;
}

#mission {
    margin-bottom: 1rem;
}

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(15, 15, 15, 0.4);
}

a.link-btn:hover {
    color: white;
}

@media (min-width:992px) {
    .restaurant-card img {
        width: 60%;
    }

    .restaurant-info {
        margin-top: 0;
    }

    .restaurant-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .project-desc {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    .project-desc ul {
        list-style-position: outside;
    }

    .start-btn {
        margin-top: 0rem;
    }
}